
.advanced-scroll-head{font-weight: 300; font-size: 21px; line-height: 30px; letter-spacing: -0.63px;}
.advanced-scroll-head span.optional-text{opacity: 0.4; text-transform: uppercase; margin-bottom: 288px; display: block; }
.advanced-scroll-head span.stripe-line{margin-bottom: 13px;}
.advanced-scroll-head h2 span{color: var(--Green);}
.advanced-scroll-head p{padding-right: 30px;}


.advanced-scroll-desc{width: 460px; font-size: 16.5px; line-height: 26px; letter-spacing: -0.495px; }
.advanced-scroll-desc p{opacity: .4; width: 324px;}
.advanced-scroll-head:nth-child(1):last-child{width: 100%;}

/*-- media css starts here --*/
@media screen and (min-width: 1024px) {
    .advanced-scroll-main{gap: 141px 258px; padding: 0 0 160px;}
    .advanced-scroll-head{width: 546px; padding-top: 145px;}
    .advanced-scroll-lists{width: calc(100% - 804px);}
    .advanced-scroll-item{min-height: 790px;}
    .advanced-scroll-img{margin-bottom: 58px; margin-left: auto; position: relative; width: 515px; padding-top: 102px; }
    .advanced-scroll-item[scroll-grid="2"] .advanced-scroll-img{width: 392px; padding-top: 67px; margin-bottom: 23px;}
    .advanced-scroll-item[scroll-grid="3"] .advanced-scroll-img{width: 335px; padding-top: 58px; margin-bottom: 76px;}
    .no_advanced_scroll_image .advanced-scroll-desc{padding-top: 431px;}
}
@media screen and (min-width: 1400px){
    .advanced-scroll-item[scroll-grid="1"] .advanced-scroll-img{right: 306px;}
    .advanced-scroll-item[scroll-grid="2"] .advanced-scroll-img{right: 395px;}
    .advanced-scroll-item[scroll-grid="3"] .advanced-scroll-img{right: 395px;}
}
@media screen and (max-width: 1399px) and (min-width: 1024px) { 
    .advanced-scroll-item .fluid-container{position: static; margin: 0; width: 100%;}
    .advanced-scroll-item[scroll-grid="1"] .advanced-scroll-img{right: -82px;}
}
@media screen and (max-width: 1299px) and (min-width: 1024px) {
    .advanced-scroll-img{max-width: 350px;}
    .advanced-scroll-item[scroll-grid="1"] .advanced-scroll-img{right: -62px;}
    .advanced-scroll-main{gap: 50px 100px;}
    .advanced-scroll-head{width: 400px;}
    .advanced-scroll-lists{width: calc(100% - 500px);}
    .advanced-scroll-head h2{font-size: 54px; line-height: 64px;}
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
    .advanced-scroll-main{padding: 90px 0 100px;}
    .advanced-scroll-head{margin-bottom: 47px; width: 100%;}
    .advanced-scroll-head span.optional-text{margin-bottom: 60px;}
    .advanced-scroll-head span.stripe-line{margin-bottom: 8px;}
    .advanced-scroll-lists{width: 100%;}
    .advanced-scroll-item{margin-bottom: 40px;}
    .advanced-scroll-item:last-child{margin-bottom: 0;}
    .advanced-scroll-img{margin-bottom: 40px; margin-left: auto; width: 351px; padding-top: 0; }
    .advanced-scroll-item[scroll-grid="2"] .advanced-scroll-img{width: 298px;}
    .advanced-scroll-item[scroll-grid="3"] .advanced-scroll-img{width: 304px;}
    .advanced-scroll-desc{width: 100%;}
    .advanced-scroll-desc p{width: 100%;}
}
@media screen and (max-width: 767px) and (min-width: 200px) {
    .advanced-scroll-main{padding: 90px 0 100px;}
    .advanced-scroll-head{margin-bottom: 47px; width: 100%;}
    .advanced-scroll-head span.optional-text{margin-bottom: 60px;}
    .advanced-scroll-head span.stripe-line{margin-bottom: 8px;}
    .advanced-scroll-lists{width: 100%;}
    .advanced-scroll-item{margin-bottom: 40px;}
    .advanced-scroll-item:last-child{margin-bottom: 0;}
    .advanced-scroll-img{left: 0; margin-bottom: 40px; position: relative; top: 0; width: 251px; padding-top: 0; }
    .advanced-scroll-item[scroll-grid="2"] .advanced-scroll-img{width: 198px;}
    .advanced-scroll-item[scroll-grid="3"] .advanced-scroll-img{width: 204px;}
    .advanced-scroll-desc{width: 100%;}
    .advanced-scroll-desc p{width: 100%;}
}