

.all-meterials-main{padding: 71px 97px 76px 140px;}
.all-meterials-bg{opacity: .1;}



.all-meterials-text{max-width: 564px;}
.all-meterials-text span.optional-text{margin-bottom: 27px;}
.all-meterials-text h2{margin-bottom: 10px;}
.all-meterials-text p{max-width: 476px; margin-bottom: 28px;}
.all-meterials-images{flex: 0 0 463px; gap: 26px 0; margin-left: auto;}
.all-meterials-ellipse{ top: -271px; right: -127px; width: 1066px; height: 1066px; border-radius: 1066px; opacity: 0.2; background: var(--Purple-Radial-Gradient); z-index: -1; }

.all-meterials-thumb{flex: 0 0 100%; gap: 30px;}
.all-meterials-thumb:nth-child(odd) .all-meterials-sm-icon{margin-top: auto; text-align: center;}
.all-meterials-thumb:nth-child(even) .all-meterials-sm-icon{margin-bottom: auto;}
.all-meterials-lg-icon{flex:  0 0 218px; min-height: 218px;}
.all-meterials-lg-icon img{max-width: 162px; margin: auto; display: block; object-fit: contain;}
.all-meterials-sm-icon{flex: 0 0 153px; padding: 30px 26px 26px 27px; backdrop-filter: blur(67px); }

.all-meterials-circle-main{width: 86px; height: 86px; margin-bottom: 4px;}
.progress-inner{width: 74px; height: 74px;}
.progress-inner svg{width: 100%; height: 100%;}
.progress-circle{top: 0; left: 0; width: 86px; height: 86px;}
.progress-circle svg circle { stroke-dasharray: 450; stroke-dashoffset: 400; }
.all-meterials-count{top: 50%; left: 50%; transform: translate(-50%,-50%);}


.all-meterials-chart-main svg rect:nth-child(even){height: 0; transition: all 1.25s ease;}
.all-meterials-half-circle{
    width: 101px;
    height: 101px;
    top: 0;
    left: 0;
    transform: rotate(-180deg);
}
.half-circle-pos{width: 101px; height: 63px;}

@media only screen and (max-width: 1279px) and (min-width: 1024px){
    .all-meterials-main {padding: 40px;}
    .all-meterials-images{flex: 0 0 430px;}
    .all-meterials-text{max-width: 350px;}
    .all-meterials-text h2{font-size: 48px; line-height: 58px;}
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .all-meterials-main{padding: 60px;}
    .all-meterials-images{margin: 0 auto 60px;}
    .all-meterials-text{max-width: 100%; width: 100%;}
}
@media screen and (max-width: 767px) and (min-width: 200px) {
    .all-meterials-section .container{padding: 0;}
    .all-meterials-main{padding: 0 21px 80px 20px;}
    .all-meterials-bg{border-radius: 0;}
    .all-meterials-images{flex: 1; max-width: 373px; margin: -18.5px auto 60px;}
    .all-meterials-thumb{gap: 20px;}
    .all-meterials-lg-icon{flex: 0 0 179px; min-height: 179px; border-radius: 20px;}
    .all-meterials-lg-icon img{max-width: 133px;}
    .all-meterials-thumb:nth-child(2n+1) .all-meterials-sm-icon{padding: 19px; border-radius: 25px;}
    .all-meterials-thumb:nth-child(2n+1) .all-meterials-sm-icon span{font-size: 14px;}
    .all-meterials-circle-main{height: 72px; width: 72px;}
    .progress-inner{height: 60px; width: 60px;}
    .all-meterials-count{font-size: 18px; letter-spacing: -0.54px;}
    .progress-circle{height: 72px; left: -7px; top: 3px; width: 72px; transform: rotate(-93deg);}
    .all-meterials-text{max-width: 100%; width: 100%; }
}
@media screen and (max-width: 413px) and (min-width: 200px) {
    .all-meterials-lg-icon{flex: 0 0 155px;}
}
@media screen and (max-width: 374px) and (min-width: 200px) {
    .all-meterials-thumb{gap: 10px;}
     .all-meterials-lg-icon { flex: 0 0 125px; min-height: 155px;}
     .all-meterials-lg-icon img { max-width: 100px; }
     .all-meterials-sm-icon{flex: 0 0 123px; padding: 15px; }
     .all-meterials-thumb.row-reverse .all-meterials-sm-icon svg{width: 90px;}
}
