


.alt-stick-section{margin-bottom: 200px;}
.alt-stick-section.last{margin-bottom: 0;}
.alt-stick-bg{max-width: 796px;}

.alt-stick-main{padding: 0 0 127px;}
.alt-stick-text{max-width: 320px;}
.alt-stick-text span.stripe-line{margin-bottom: 29px;}
.alt-stick-text h2{margin-bottom: 31px;}

.alt-stick-list span.fs-21{padding:6px 0 20px;}
.alt-stick-list p{margin-bottom: 26px;}

.alt-stick-overlay{
    width: 100%;
height: 100%;
}
.alt-stick-overlay.top{
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.00) 0%, var(--Black) 70.02%);
}
.alt-stick-overlay.bottom{
    bottom: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.00) 0%, var(--Black) 50.63%);
}
.alt-stick-left{flex: 1;}
.alt-stick-right{flex: 1; gap: 99px 0;}







