










.calc-part-wrap{padding: 150px 0 140px;}
.calc-part-desc{max-width: 435px; font-size: 16.5px; font-weight: 400; line-height: 26px; letter-spacing: -0.495px; }
.calc-part-text{max-width: 900px; padding-bottom: 130px;}

.calc-part-line{max-width: 781px; margin-bottom: 25px;}
.calc-part-text h2{margin-bottom: 30px; font-size: 94px; font-weight: 400; line-height: 100px; letter-spacing: -2.82px;}




.calc-part-cost{padding: 87px 94px 87px 91px; flex: 0 0 447px; letter-spacing: 0;}
.calc-part-cost h2{font-size: 33px; letter-spacing: 0;}
.calc-part-head{padding-bottom: 29px;}
ol.calc-part-steps{gap: 33px; letter-spacing: 0; font-size: 19px; font-weight: 600; line-height: normal;}
ol.calc-part-steps li::before{width: 33px; height: 33px; top: -5px; left: -43px; background-color: var(--White-20); color: var(--Black);}
ol.calc-part-steps li:first-child:before{text-indent: -0.5px;}
ol.calc-part-steps li.active::before{background-color: var(--White);}

.calc-part-choose{padding: 91px 113px 87px 128px; flex: 1; border-left: 1px solid var(--White-31);}
ul.calc-part-inputs{gap: 9px;}
ul.calc-part-inputs li{padding: 10px 46px; cursor: pointer; border-radius: 70px; border: 1px solid var(--Black); backdrop-filter: blur(17px); color: var(--Black); font-size: 16px; font-weight: 600; line-height: 24px; background-color: transparent;}
ul.calc-part-inputs li:hover{background-color: var(--Black); color: var(--White);}
.calc-part-up{padding-bottom: 31px; justify-content: space-between;}
.calc-part-btns{padding-top: 34px;}


.calc-part-image{top: -50px; right: -333px; max-width: 884px; max-height: 800px; z-index: -1;}
.calc-part-image img{object-fit: contain;}

.calc-part-tot{backdrop-filter: blur(9px);} 

@media screen and (max-width: 1099px) and (min-width: 1024px){
   .calc-part-cost{padding: 60px;}
   .calc-part-choose{padding: 60px;}
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    .calc-part-wrap{padding: 80px 0; }
    .calc-part-text h2{font-size: 64px; line-height: 70px;}
    .calc-part-image{max-height: 500px; max-width: 500px; right: -180px; top: 150px;}
    .calc-part-cost{flex: 0 0 300px; padding: 60px; }
    .calc-part-cost h2{font-size: 26px; line-height: 31px;}
    .calc-part-choose{padding: 60px; }
}
@media screen and (max-width: 767px) and (min-width: 200px){
    .calc-part-wrap{padding: 100px 0 90px;}
    .calc-part-text{padding-bottom: 90px; }
    .calc-part-line{margin-bottom: 20px;}
    .calc-part-text h2{font-size: 42px; font-weight: 500; letter-spacing: -0.84px; line-height: 54px; margin-bottom: 20px; }
    .calc-part-desc{font-size: 15.5px; letter-spacing: -.465px; line-height: 24px; max-width: 258px; }
    .calc-part-image{max-height: fit-content; max-width: 273px; right: -89px; top: 189px;}
    .calc-part-tot{border-radius: 20px;}
    .calc-part-cost{flex: 0 0 100%; padding: 46px 40px 0;}
    .calc-part-head{padding-bottom: 31px;}
    .calc-part-cost h2{font-size: 28px; line-height: normal; margin-bottom: 0;}
    ol.calc-part-steps{font-size: 0; gap: 56px; position: absolute; left: 0;}
    .calc-part-choose{padding: 0 40px 40px; border: none;}
    .calc-part-up span.fs-20{font-size: 18px;}
    .calc-part-up span.muted-dark{font-size: 16px;}
    ul.calc-part-inputs li{padding: 10px 20px; flex: 0 0 calc(50% - 5px); text-align: center;}
}

@media screen and (max-width: 374px) and (min-width: 200px){
    .calc-part-up span.fs-20{font-size: 14px;}
}