


.common-grid-icon{margin-bottom: 44px; width: 81px; height: 81px;}
.common-grid-icon svg{width: 100%; height: 100%;}
.common-grid-text h2{margin-bottom: 12px; font-size: 21px; line-height: 30px; letter-spacing: 0;}







/* media css starts here */
@media only screen and (min-width: 1024px){
    .common-grid-main{gap: 121px 77px;}
    .common-grid-list{flex: 0 0 calc(33.333333% - 77px);}
}

@media only screen and (max-width: 1023px) and (min-width: 768px){
    .common-grid-main{gap: 50px;}
    .common-grid-list{display: flex; flex-wrap: wrap; gap: 30px; width: 100%;}
    .common-grid-icon{height: 50px; margin-bottom: 0; width: 50px;}
    .common-grid-text{flex: 1;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .common-grid-main{gap: 40px;}
    .common-grid-list{display: flex; flex-wrap: wrap; gap: 30px; width: 100%;}
    .common-grid-icon{height: 50px; margin-bottom: 0; width: 50px;}
    .common-grid-text{flex: 1; padding: 12px 10px 0 0; font-size: 18px; line-height: 28px; letter-spacing: -0.54px;}
    .common-grid-text h2{margin-bottom: 5px; font-weight: 600; }
}