





.contact-form-main{padding: 0 0 46px;}



.contact-frm-head{gap: 16px; padding-bottom: 40px;}
.contact-addr-desc{padding: 23px 0 13px;}

.frm_field_container{gap: 25px;}
.frm_half{flex: 0 0 calc(50% - 12.5px);}

.frm_field_container{padding-bottom: 80px;}

.frm_opt_container{padding-bottom: 80px;}

.contact-form .vertical_radio{flex: 1;}
.contact-form .vertical_radio .frm_opt_container{width: 100%; gap: 9px; display: flex; flex-wrap: wrap;}
.contact-form .vertical_radio .frm_radio label{font-weight: 500; padding: 18px 27px; position: relative; letter-spacing: -0.51px; overflow: hidden; cursor: pointer; transition: var(--b-transition-10);} 
.contact-form .vertical_radio .frm_radio label input{top: 0; left: 0; width: 100%; height: 100%; margin: 0; border-radius: 90px; border: 1px solid var(--Line---Light); background-color: transparent;  position: absolute; z-index: -1; transition: var(--b-transition-10);}
.contact-form .vertical_radio .frm_radio label input:hover,.contact-form .vertical_radio .frm_radio label input:checked{background-color: var(--White); border-color: var(--White); color: var(--Black);}
.contact-form .vertical_radio .frm_radio label:hover, .contact-form .vertical_radio .frm_radio label:has(input[type="radio"]:checked){color: var(--Black);}


.contact-form .frm_field:not(.frm_field_wrapper) .vertical_radio .frm_checkbox label{font-weight: 500; padding: 18px 27px; position: relative; letter-spacing: -0.51px; overflow: hidden; cursor: pointer; transition: var(--b-transition-10);} 
.contact-form .frm_field:not(.frm_field_wrapper) .vertical_radio .frm_checkbox label input{top: 0; left: 0; width: 100%; height: 100%; margin: 0;  background-color: transparent;  position: absolute; z-index: -1; border: 1px solid var(--Line---Light); border-radius: 90px; transition: var(--b-transition-10);}
.contact-form .frm_field:not(.frm_field_wrapper) .vertical_radio .frm_checkbox label:hover input, .contact-form .frm_field:not(.frm_field_wrapper) .vertical_radio .frm_checkbox label input:checked{background-color: var(--White); color: var(--Black);}
.contact-form .frm_field:not(.frm_field_wrapper) .vertical_radio .frm_checkbox label input:checked::before{display: none;}
.contact-form .frm_field:not(.frm_field_wrapper) .vertical_radio .frm_checkbox label:hover, .contact-form .frm_field:not(.frm_field_wrapper) .vertical_radio .frm_checkbox label:has(input[type="checkbox"]:checked){color: var(--Black);}


/* media css starts here */
@media only screen and (min-width: 1440px){
    .contact-form-main{gap: 141px;}
}
@media only screen and (min-width: 1024px){
    .contact-form{flex: 1;}
    .contact-address{flex: 0 0 320px;}
}
@media only screen and (max-width: 1439px) and (min-width: 1024px){
    .contact-form-main{gap: 101px;}
}
@media only screen and (max-width: 1199px) and (min-width: 1024px){
    .contact-form-main{gap: 61px;}
}
@media only screen and (max-width: 1023px) and (min-width: 200px){
    .contact-form-main{gap: 61px; padding: 0 0 100px; flex-direction: column;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .contact-form-main{gap: 56px; padding: 0 0 88px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .frm_field_container{flex-direction: column; padding-bottom: 60px;}
    .frm_opt_container{padding-bottom: 60px;}
    .contact-form .vertical_radio .frm_radio label,
    .contact-form .frm_field:not(.frm_field_wrapper) .vertical_radio .frm_checkbox label{padding: 18px; font-size: 15px; line-height: 19px; letter-spacing: -0.45px;}
}





