
.cta-module-text{font-size: 16.5px; letter-spacing: -0.495px; line-height: 26px;}
.cta-module-text span.optional-text{margin-bottom: 133px;}
<<<<<<< HEAD
.cta-module-text h2{font-size: 86px; line-height: 92px; letter-spacing: -2.82px; font-weight: 400; margin-bottom: 28px;}
=======
.cta-module-text h2{font-size: 74px; line-height: 80px; letter-spacing: -2.82px; font-weight: 400; margin-bottom: 28px;}
>>>>>>> a4e354064881679c06db2f84d4f1e78d1d9d2538
.cta-module-text p{max-width: 435px;}
.cta-module-btns{margin-top: 28px;}

.cta-module-image{top: 79px; right: 0;}
.cta-module-ellipse{background: radial-gradient(50% 50% at 50% 50%,var(--White) 0,hsla(0,0%,100%,0) 100%); height: 1415px; opacity: .3; right: -594px; top: -176px; width: 1415px; z-index: -1;}


@media screen and (min-width:1024px) {
    .cta-module-main{padding: 128px 0 88px;}
    .cta-module-text{max-width: 879px;}
    .cta-module-text:nth-child(1):last-child{max-width: 100%;}
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .cta-module-main{padding: 128px 0 80px;}
    .cta-module-text{max-width: 600px;}
    .cta-module-text h2{font-size: 74px; line-height: 80px;}
    .cta-module-image{right: -20px; top: -20px; }
}
@media screen and (max-width: 767px) and (min-width: 200px) {
    .cta-module-main{padding: 326px 0 44px;}
    .cta-module-text span.optional-text{margin-bottom: 30px;}
    .cta-module-text h2{font-size: 48px; letter-spacing: -0.48px; line-height: 56px; margin-bottom: 28px; }
    .cta-module-image{right: auto; top: -22px; width: 423px; left: -70px; }
    .cta-module-ellipse{background: radial-gradient(50% 50% at 50% 50%,var(--White) 0,hsla(0,0%,100%,0) 100%); border-radius: 855px; height: 855px; left: -112px; top: -204px; right: auto; width: 855px;}
}