

.default-banner-main{padding: 386px 0 160px; max-width: 1011px;}
.default-banner-bg img{opacity: 0.3;}
.default-banner-text{letter-spacing: -0.63px; font-weight: 300;}
.default-banner-text h1{margin-bottom: 22px; padding-top: 30px; letter-spacing: -1.22px; font-weight: 400;}
.default-banner-btns{padding-top: 12px;}

/* media css starts here */
@media screen and (min-width: 1024px) {
    .default-banner-text h1{font-size: 122px; line-height: 128px; max-width: 845px;}
}
@media screen and (min-width: 768px) {
    .default-banner-text h1 br{display: none;}
}
@media screen and (max-width: 767px) and (min-width: 200px) {
    .default-banner-main{padding: 312px 0 32px;}
    .default-banner-btns{padding-top: 2px;}
}