






.everything-head{padding-bottom: 56px;}
.everything-answer-desc{padding: 0 24px;}
.everything-answer-desc p{margin-bottom: 5px;}

.everything-answer{padding: 30px 24px 40px; background: var(--White-10); backdrop-filter: blur(40px); } 
.everything-answer-ellipse{ bottom: 0; left: 50%; transform: translateX(-50%); width: 757px; height: 757px; opacity: 0.2; border-radius: 50%; background: radial-gradient(50% 50% at 50% 50%, var(--Green) 0%, rgba(26, 209, 177, 0.00) 100%); z-index: -1; }
.everything-answer video{max-width: 242px; mix-blend-mode: difference; margin: auto; object-fit: contain;}


/* media css starts here */
@media screen and (min-width: 1024px){
    .everything-wrap{padding: 133px 0 141px;}
    .everything-left{flex: 1;}
    .everything-right{flex: 0 0 317px;}
    .everything-main .accordion-main{gap: 53px 0;}
}
@media screen and (max-width: 1299px) and (min-width: 1024px){
    .everything-main{gap: 0 144px;}
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    .everything-wrap{padding: 133px 0 141px;}
    body.page-template-usecase.page-id-1139 .everything-wrap{padding-bottom: 60px;}
    .everything-head h2{font-size: 48px; letter-spacing: -.32px; line-height: 58px; margin-bottom: 21px;}
    .everything-main{display: block;}
    .everything-left{padding-bottom: 80px;}
}
@media screen and (max-width:767px) and (min-width: 200px){
    .everything-wrap{padding: 87px 0 64px;}
    .everything-main{display: block;}
    .everything-head{padding-bottom: 22px;}
    .everything-head h2{font-size: 42px; letter-spacing: -0.26px; line-height: 56px; margin-bottom: 21px;}
    .everything-left{padding-bottom: 72px;}
}
















