
.faqs-head h2 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 32px;
}

ul.category-links{
  margin: 0;
}
ul.category-links > li {
  margin-bottom: 13px;
}
ul.category-links > li:last-child {
  margin-bottom: 0;
}

ul.category-links > li a {
  gap: 13px;
  padding-top: 11px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.faqs-q-list {
  gap: 59px 0;
}
.faqs-q-list:first-child .stripe-line{display: none;}
.faqs-q-list h2 {
  
  margin-bottom: 2px;
}
.faqs-q-list:last-child {
  margin-bottom: 0;
}


.faqs-main.no_accordion{display: block; padding-bottom: 68px;}
.faqs-main.block{display: block;}

.faqs-head h2 a{color: var(--Deep-Teal);}
.faqs-head h2 a:hover{color: var(--Black);}
.faqs-head h2.h5{margin-bottom: 9px;}

.faqs-answer{padding: 30px 24px 40px; background: var(--White-10); backdrop-filter: blur(40px); } 
.faqs-answer-ellipse{ bottom: 0; left: 50%; transform: translateX(-50%); width: 757px; height: 757px; opacity: 0.2; border-radius: 50%; background: radial-gradient(50% 50% at 50% 50%, var(--Green) 0%, rgba(26, 209, 177, 0.00) 100%); z-index: -1; }
.faqs-answer-desc{padding: 18px 24px 0;}

.faqs-answer span.optional-text{margin-bottom: 11px;}
.faqs-answer h2{margin-bottom: 20px;}
.faqs-answer p{margin-bottom: 21px;}
.faqs-answer video{max-width: 242px; mix-blend-mode: difference; margin: auto; object-fit: contain;}
.faqs-vactor{bottom: -26px; right: 14px; width: 225px; height: 54px;}
.faqs-vactor svg{width: 100%; height: 100%; object-fit: contain;}



/* media css starts here */
@media only screen  and (min-width: 1440px){
  .faqs-main{ gap: 80px 256px;}
}
@media only screen  and (min-width: 1024px){
    .faqs-text{padding-top: 20px; flex: 0 0 320px;}
    .faqs-head{padding-bottom: 60px;}
    .faqs-head h2{margin-bottom: 8px;}
    .faqs-right{flex: 1; gap: 82px 0;}
    .faqs-text:nth-child(1):nth-last-child(2){flex: 0 0 100%;}
    .faqs-text:nth-child(1):last-child, .faqs-right:nth-child(1):last-child{width: 100%; flex: 0 0 100%;}
    
}
@media only screen and (max-width: 1439px) and (min-width: 1024px){
  .faqs-main{ gap: 80px;}

}
@media only screen and (max-width: 1023px) and (min-width: 768px){
  .faqs-main{ gap: 80px; flex-direction: column;}
  .faqs-text{padding-top: 20px; flex: 0 0 320px;}
  .faqs-head{padding-bottom: 60px;}
  .faqs-head h2{margin-bottom: 8px;}
  .faqs-right{flex: 1; gap: 82px 0;}
  .faqs-text:nth-child(1):last-child, .faqs-right:nth-child(1):last-child{width: 100%; flex: 0 0 100%;}
  
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .faqs-main{padding: 52px 0 0; gap: 0; flex-direction: column;}
    .faqs-text{padding-bottom: 25px;}
    .faqs-head{padding-bottom: 33px;}
    .faqs-head h2{margin-bottom: 8px;}
    .faqs-vactor{width: 257px; height: 63px; right: 26px; bottom: -42px;}
    .faqs-right{flex: 1; gap: 43px 0;}
    .faqs-q-list{gap: 38px 0;}
    .faqs-answer{margin-top: 72px;}
}
