

.featured-articles-main{padding: 26px 0 0;}
.featured-articles-head{padding-bottom: 71px; align-items: center;}
.featured-articles-title{flex: 1;}
.featured-articles-title h2{font-size: 32px; line-height: 38px; letter-spacing: -0.96px;}
.featured-articles-link{width: fit-content;}

.featured-articles-post{padding: 87px 82px 94px;}
.featured-articles-bg{background-color: var(--White-10);}
.featured-articles-desc{max-width: 538px;}
.featured-articles-right{gap: 25px;}
.featured-articles-sm{padding: 62px 64px 60px;}
.featured-articles-sm .featured-articles-text{max-width: 343px;}

.featured-articles-ellipse{background: var(--Green-Radial-Gradient); border-radius: 757px; flex-shrink: 0; height: 757px; opacity: .1; right: -163px; top: -181px; width: 757px;}
.featured-articles-post .featured-articles-ellipse{right: -103px; top: -181px;}

/*-- media css starts here --*/
@media only screen and (min-width: 1800px){
    .featured-articles-main{max-width: 1800px; margin: auto;}
}
@media only screen and (min-width: 1360px){
    .featured-articles-row{gap: 25px; padding: 0 44px 0 36px;}
    .featured-articles-post{flex: 1;}
    .featured-articles-right{flex: 1;}
    .featured-articles-right:nth-child(1):last-child{flex-direction: row;}
    .featured-articles-right:nth-child(1):last-child .featured-articles-sm{flex: 1;}
    .featured-articles-desc h2{margin-bottom: 25px; letter-spacing: 0;}
    .featured-articles-image{top: -92px; right: 50px; z-index: -1;}
    .featured-articles-sm .featured-articles-image{top: 42px; right: -25px;}
    .featured-articles-sm:nth-child(2n+2) .featured-articles-image{top: -156px; right: 72px;}
}
@media only screen and (min-width: 768px){
    .featured-articles-post .featured-articles-desc{padding-top: 255px;}
    .featured-articles-post .featured-articles-desc h2{font-size: 40px;line-height: 52px; margin-bottom: 23px;}
}
@media only screen and (max-width: 1600px) and (min-width: 1360px){
    .featured-articles-post { padding: 87px 62px 94px; }
    .featured-articles-image{max-width: 360px;}
    .featured-articles-sm{padding: 62px 62px 60px;}
    .featured-articles-sm .featured-articles-image {max-width: 270px;}
    .featured-articles-sm .featured-articles-desc{max-width: 285px;}
    .featured-articles-sm:nth-child(2n+2) .featured-articles-image{right: -25px;}
}
@media only screen and (max-width: 1359px) and (min-width: 1024px){
    .featured-articles-head{padding-bottom: 31px;}
    .featured-articles-title h2{font-size: 34px; line-height: 40px; letter-spacing: -1.02px;}
    .featured-articles-row{padding: 0 40px; gap: 20px; flex-direction: column;}
    .featured-articles-post{padding: 57px 40px 60px;}
    .featured-articles-text h2{margin-bottom: 24px; font-size: 22px; line-height: 32px; letter-spacing: 0;}
    .featured-articles-image{max-width: 400px; top: -92px; right:40px; z-index: -1;}
    .featured-articles-right{flex-direction: row;}
    .featured-articles-desc{padding-top: 255px;}
    .featured-articles-sm {flex: 0 0 calc(50% - 12.5px); padding: 62px 40px 60px; }
    .featured-articles-sm .featured-articles-image {max-width: 270px;}
    .featured-articles-sm:nth-child(2n+1) .featured-articles-image { right: -24px; top: 110px; }
    .featured-articles-sm:nth-child(2n+2) .featured-articles-image{top: -110px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .featured-articles-head{padding-bottom: 40px;}
    .featured-articles-title h2{font-size: 34px; line-height: 40px; letter-spacing: -1.02px;}
    .featured-articles-row{padding: 0 40px; gap: 20px; flex-direction: column;}
    .featured-articles-post{padding: 57px 40px 60px;}
    .featured-articles-text h2{margin-bottom: 24px; font-size: 22px; line-height: 32px; letter-spacing: 0;}
    .featured-articles-image{max-width: 320px; top: -92px; right:40px; z-index: -1;}
    .featured-articles-sm { padding: 62px 40px 60px; }
    .featured-articles-sm:nth-child(2n+1) .featured-articles-image { right: -24px; top: 50%; transform: translateY(-50%); }
    .featured-articles-sm:nth-child(2n+2) .featured-articles-image{top: -130px;}
}
@media only screen and (min-width: 768px){
    .featured-articles-slider{display: none;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .featured-articles-head{padding-bottom: 40px;}
    .featured-articles-title h2{font-size: 27px; letter-spacing: -0.81px; line-height: 36px;}
    .featured-articles-row{padding: 0 20px; gap: 20px; flex-direction: column;}
    .featured-articles-post{padding: 0 40px 60px;}
    .featured-articles-text h2{margin-bottom: 24px; font-size: 22px; line-height: 32px; letter-spacing: 0;}
    .featured-articles-image{position: static; margin: -11px 8px 29px auto; max-width: 302px;}
    .featured-articles-sm{padding: 0 40px 60px; flex-direction: column;}
    .featured-articles-sm .featured-articles-image{margin: -69px 5px 0 auto;}
    .featured-articles-sm:nth-child(2n+1) .featured-articles-image{max-width: 254px;}
    .featured-articles-sm:nth-child(2n+2) .featured-articles-image{margin: -110px 26px 28px auto;}
    .featured-articles-sm .featured-articles-text{max-width: 100%;}
    .featured-articles-row{display: none;}
    .featured-articles-slider{margin: 0 20px; padding-bottom: 44px;}
    .featured-articles-slider .featured-articles-bg{border-radius: 20px;}
    .featured-articles-slider .swiper-button{top: -76px; transform: none;}
    .featured-articles-slider .swiper-button.swiper-button-prev{left: auto; right: 55px;}
    .featured-articles-btn{margin: 0 auto; width: fit-content; padding-top: 30px;}
    .featured-articles-ellipse {right: -180px; top: -350px;}
    body.home .featured-articles-main{padding: 0;}
}

@media only screen and (max-width: 413px) and (min-width: 200px){
    .featured-articles-title h2{font-size: 24px; line-height: 33px;}
    .featured-articles-post{padding: 0 25px 40px;}
    .featured-articles-sm{padding: 0 25px 40px;}
}
@media only screen and (max-width: 374px) and (min-width: 200px){
    .featured-articles-title h2{font-size: 24px; line-height: 33px;}
}