


span.year{padding-bottom: 28px;}
.innovation-main{padding: 128px 0 0;}

.innovation-lines{top: 0; left: 0; width: 4px; height: 100%; min-height: 100vh; background-color: var(--Line---Light); border-radius: 4px;}
.innovation-line{top: 0; left: -1px; width: 4px; height: 0; background-color: var(--Green); border-radius: 4px;}

.innovation-text{flex: 0 0 677px; padding-right: 133px;}
.innovation-lists{flex: 1; padding-left: 128px;}
.innovation-list{opacity: 0.4; margin-bottom: 45px;}
.innovation-list *{transition: var(--b-transition-10);}
.innovation-list .stripe-line{margin-top: 44px;}
.innovation-list:last-child{margin-bottom: 0;}
.innovation-list:last-child p{margin-bottom: 0;}
.innovation-list:last-child .stripe-line{display: none;}
.innovation-text:nth-child(1):last-child{flex: 0 0 100%;}


@media screen and (max-width: 1299px) and (min-width: 1024px) {
    .innovation-text{flex: 0 0 560px; padding-right: 60px;}
    .innovation-lists{padding-left: 60px;}
}
@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .innovation-text{flex: 0 0 475px;}
  .innovation-text h2{font-size: 54px; line-height: 64px;}
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
    .innovation-main{padding: 90px 0 0;}
    .innovation-text{flex: 0 0 100%; padding-right: 0; margin-bottom: 36px;}
    .innovation-text h2{margin-bottom: 0;}
    .innovation-lists{padding-left: 23px; }
}
@media screen and (max-width: 767px) and (min-width: 200px) {
    .innovation-main{padding: 90px 0 0;}
    .innovation-text{flex: 0 0 100%; padding-right: 0; margin-bottom: 36px;}
    .innovation-text h2{margin-bottom: 0;}
    .innovation-lists{padding-left: 23px; }
    .innovation-list{margin-bottom: 21px; font-size: 15.5px; letter-spacing: -0.465px;}
    span.year{padding-bottom: 22px; font-size: 18px;}
    .innovation-list .h4{font-size: 30px; line-height: 36px; letter-spacing: -0.9px; margin-bottom: 14px;}
    .innovation-list p:last-child{margin-bottom: 0;}
    .innovation-list .stripe-line{margin-top: 27px; }
}
















