


.large-feature-head{padding-bottom: 115px;}
.large-feature-icon{padding-bottom: 235px; max-width: 49px;}
.large-feature-bg video{top: 0; left: 0; border-radius: 30px; position: absolute;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .large-feature-wrap{padding: 126px 0 0;}
    .large-feature-main{padding: 107px 125px 94px 125px;}
   .large-feature-text{max-width: 923px;}  
   .large-feature-bg [data-vbg], .large-feature-bg img, .large-feature-bg iframe{border-radius: 30px;}
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    .large-feature-section .container{padding: 0;}
    .large-feature-wrap{padding: 126px 0 40px;}
    .large-feature-main{padding: 80px 40px;}
    .large-feature-head{padding-bottom: 57px;}
}
@media screen and (max-width: 767px) and (min-width: 200px){
    .large-feature-wrap{padding: 85px 0 0;}
    .large-feature-bg{width: calc(100% + 40px); left: -20px;}
    .large-feature-bg img{border-radius: 0;}
    .large-feature-main{padding: 20px 0 4px;}
    .large-feature-icon{max-width: 28px;}
    .large-feature-head{padding-bottom: 60px;}
}














