













.modular-option-main{padding: 118px 158px 104px;}




/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .modular-option-main{gap: 111px;}
    .modular-option-text{flex: 0 0 435px;}
    .modular-option-image{flex: 1; gap: 44px;}
    .modular-option-graph{flex: 0 0 158px; gap: 29px;}
    .modular-option-array{flex: 1;}
}