


.open-postion-wrap{padding: 22px 0 127px;}
.open-postion-main{gap: 51px; padding: 125px 0 123px;}
.open-postion-image{flex: 0 0 524px; transform: translateX(-41px);}
.open-postion-text{flex: 1; max-width: 476px;}
.open-postion-text span.optional-text{margin-bottom: 25px; }
.open-postion-text h2{margin-bottom: 9px;}
.open-postion-text p{margin-bottom: 28px;}
.open-postion-ellipse{ top: -280px; left: -169px; width: 1066px; height: 1066px; border-radius: 1066px; opacity: 0.2; background: radial-gradient(50% 50% at 50% 50%, var(--Green) 0%, rgba(26, 209, 177, 0.00) 100%); z-index: -1;}
.open-postion-image:nth-child(3):last-child{padding: 0 60px; flex: 0 0 100%; transform: none;}
.open-postion-text:nth-child(1):last-child, .open-postion-text:nth-child(3):last-child{padding: 0 60px; flex: 0 0 100%; max-width: 100%;}


@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .open-postion-main{gap: 20px; padding: 125px 40px 123px 0;}
    .open-postion-text h2{font-size: 54px; line-height: 64px;}
}

@media screen and (max-width: 1023px) and (min-width:768px) {
    .open-postion-wrap{padding: 90px 0;}
    .open-postion-main{padding: 60px 40px;}
    .open-postion-image{flex: 0 0 100%; transform: none; position: relative;}
}

@media screen and (max-width: 767px) and (min-width:200px) {
    .open-postion-section .container{padding: 0;}
    .open-postion-wrap{padding: 131px 0 90px;}
    .open-postion-ellipse{ height: 759px; width: 759px;}
    .open-postion-main{gap: 25px; padding: 0 20px 90px;}
    .open-postion-bg{border-radius: 0;}
    .open-postion-image{flex: 0 0 100%; transform: translateY(-35px);}
    .open-postion-image img{border-radius: 20px;}
    .open-postion-text span.optional-text{font-size: 12px; letter-spacing: 3px;}
    .open-postion-text p{margin-bottom: 7px; }
}



