



.optional-repeater-main{padding: 140px 0;}
.optional-repeater-text h2{margin-bottom: 30px;}
.optional-repeater-image img{border-radius: 30px 0 0 30px;}

.reverse .optional-repeater-main{flex-direction: row-reverse;}
.reverse .optional-repeater-image img{border-radius: 0 30px 30px 0;}

.optional-repeater-text:nth-child(1):last-child{flex: 0 0 100%;}

/* media css starts here */
@media only screen and (min-width: 1400px){
    .optional-repeater-main{gap: 138px; flex-wrap: nowrap;}
    .optional-repeater-text{flex: 0 0 658px;}
    .optional-repeater-image{flex: 1; min-width: 806px;}
}
@media only screen and (max-width: 1399px) and (min-width: 1024px){
    .optional-repeater-main{gap: 69px;}
    .optional-repeater-text{flex: 1;}
    .optional-repeater-image{flex: 1; margin-right: -40px; }
    .reverse .optional-repeater-image{margin-left: -40px; margin-right: 0;}
    .optional-repeater-text h2{font-size: 54px; line-height: 64px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .optional-repeater-main{padding: 90px 0; gap: 90px;}
    .optional-repeater-text, .optional-repeater-image{width: 100%;}
    .optional-repeater-image img{border-radius: 0;}
    .reverse .optional-repeater-main{flex-direction: column-reverse;}
    .reverse .optional-repeater-image img{border-radius: 0;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .optional-repeater-section .container{padding: 0;}
    .optional-repeater-main{padding: 90px 0; gap: 90px;}
    .optional-repeater-text{font-size: 18px; line-height: 28px; letter-spacing: -0.54px; padding: 0 20px;}
    .optional-repeater-text h2{margin-bottom: 20px; letter-spacing: -1.26px; }
    .optional-repeater-image img{border-radius: 0;}
    .reverse .optional-repeater-main{flex-direction: column-reverse;}
    .reverse .optional-repeater-image img{border-radius: 0;}
}

@media only screen and (max-width: 374px) and (min-width: 200px){
    .optional-repeater-text h2{font-size: 32px; line-height: 44px;}
}
