












.optional-module-wrap{padding-bottom: 151px;}
.optional-module-main{padding: 130px 136px 117px 49px; overflow: hidden;}
.modular-ellipse{width: 1066px; height: 1066px; opacity: 0.2; z-index: -1; background: var(--Purple-Radial-Gradient);}
.modular-ellipse.left{left: -536px; top: -636px;}
.modular-ellipse.right{right: -612px; top: 69px;}


.optional-module-text:nth-child(3){flex: 0 0 100%;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){

    .optional-module-main{gap: 72.8px;}
    .optional-module-text{flex: 0 0 435px;}
    .optional-module-image{flex: 1; gap: 6px;}
    .optional-module-graph{flex: 0 0 158px; gap: 29px;}
    .optional-module-array{flex: 1;}
    body.page-template-default .optional-module-wrap{padding-bottom: 140px;}
}
@media only screen and (max-width: 1369px) and (min-width: 1024px){
 .optional-module-main{gap: 60px; padding: 60px;}
}
@media only screen and (max-width: 1199px) and (min-width: 1024px){
 .optional-module-text{flex: 0 0 350px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .optional-module-main{padding: 60px; flex-direction: column-reverse; gap: 60px;}
    .optional-module-image{gap: 30px; justify-content: center;}
    .optional-module-graph{gap: 25px; flex: 0 0 138px;}
    .optional-module-array{flex: 0 0 200px;}

    body.home .optional-module-image{gap: 0;}
    body.home .optional-module-array{flex: 0 0 400px;}

    body.page-template-default .optional-module-wrap{padding-bottom: 90px;} 
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .optional-module-section .container{padding: 0;}
    .optional-module-main{padding: 22px 20px 90px; border-radius: 0; flex-direction: column-reverse; gap: 57px;}
    .modular-ellipse{width: 606px; height: 606px;}
    .modular-ellipse.left{left: -211px; top: 435px;}
    .modular-ellipse.right{right: -230px; top: -212px;}
    .optional-module-image{gap: 30px; justify-content: center;}
    .optional-module-graph{gap: 25px; flex: 0 0 138px;}
    .optional-module-graph .all-meterials-sm-icon{padding: 26px 11px 22px 20px; }
    .optional-module-array{flex: 0 0 200px;}

    body.home .optional-module-wrap, body.page-template-default .optional-module-wrap{padding: 0;}    
    body.home .optional-module-main, body.page-template-default .optional-module-main{padding: 78px 20px 90px; flex-direction: column; gap: 54px;}
    body.home .optional-module-graph .all-meterials-sm-icon, body.page-template-default .optional-module-graph .all-meterials-sm-icon{position: absolute; width: 138px;}
    body.home .optional-module-graph .all-meterials-sm-icon:nth-child(2), body.page-template-default .optional-module-graph .all-meterials-sm-icon:nth-child(2){display: none;}
    body.home .optional-module-image, body.page-template-default .optional-module-image{position: relative; justify-content: left;}
    body.home .optional-module-array, body.page-template-default .optional-module-array{flex: 0 0 290px; }
    body.home .optional-module-graph, body.page-template-default .optional-module-graph{position: absolute; top: -43px; left: 222px; width: 138px; }

    body.page-template-default .optional-module-graph .all-meterials-sm-icon{
        padding: 21px 11px 18px 20px;
    }
}
@media only screen and (max-width: 413px) and (min-width: 200px){
    .optional-module-image{gap: 20px;}
    .optional-module-array{flex: 0 0 175px;}
    body.page-template-default .optional-module-graph{left: 180px;}
}
@media only screen and (max-width: 374px) and (min-width: 200px){
    body.page-template-default .optional-module-graph{left: 150px;}

}