

.our-customer-text h2{margin-bottom: 30px;}

.our-customer-text blockquote{padding: 0; margin: 0;}


.our-customer-avatar{gap: 28px; padding-top: 47px;}
.our-customer-avatar-logo{max-width: 85px;}


/* media css starts here */
@media only screen and (min-width: 1024px){
    .our-customer-main{gap: 113px; padding: 140px 0 119px;}
    .our-customer-left{width: 437px;}
    .our-customer-right{width: calc(100% - 550px);}
}











