


.our-customer-text h2{margin-bottom: 30px;}

.our-customer-text blockquote{padding: 0; margin: 0;}


.our-customer-avatar{gap: 28px; padding-top: 47px;}
.our-customer-avatar-logo{max-width: 85px;}



/* media css starts here */

@media only screen and (min-width: 1024px){
    body.page-template-solution .our-customer-main{padding-top: 126px;}
    .our-customer-main{gap: 113px; padding: 140px 0 119px;}
    .our-customer-left{width: 437px;}
    .our-customer-right{width: calc(100% - 550px);}
    .our-customer-head{padding-right: 92px; padding-top: 2px;}
    .our-customer-nav.swiper-horizontal .swiper-buttons{top: -57px;}
}

@media only screen and (max-width: 1199px) and (min-width: 1024px){
    .our-customer-main{gap: 60px;}
    .our-customer-right{width: calc(100% - 497px);}
}

@media only screen and (max-width: 1023px) and (min-width: 768px){
    .our-customer-wrap{padding: 80px 0;}
    .our-customer-main{gap: 40px;}
    .our-customer-left{width: 300px;}
    .our-customer-right{width: calc(100% - 340px);}
    .our-customer-head{padding-bottom: 40px;}
    .our-customer-text blockquote{font-size: 20px; line-height: 42px;}
    .swiper-horizontal .swiper-buttons{top: -22px;}

}
@media only screen and (max-width: 767px) and (min-width: 200px){
    body.page-template-solution .our-customer-wrap{padding-top: 70px;}

    .our-customer-wrap{padding: 90px 0 100px;}
    body.page-template-usecases .our-customer-wrap h2{font-size: 34px; line-height: 40px; max-width: 230px;}
    .our-customer-main{display: block;}
    .our-customer-left{overflow: inherit;}
    .our-customer-image::before{position: absolute; content: ""; width: 100%; height: 100%; top: 0; left: 0; background: linear-gradient(180deg, transparent 21.76%, var(--Black) 100%); }
    .our-customer-right{margin-top: -96px;}
    .our-customer-text blockquote{font-size: 18px; letter-spacing: -0.18px; line-height: 36px;}
    .our-customer-text{padding: 0 30px;}
    .our-customer-avatar{gap: 22px; padding-top: 21px;}
    .our-customer-avatar .muted-light{font-size: 16px;}
    .our-customer-left .swiper-buttons{gap: 12px; left: 0; right: 0; top: 50%; transform: translateY(-50%); width: 100%; z-index: 1; justify-content: space-between;}
    .our-customer-left .swiper-buttons .swiper-button{position: relative;}
    .our-customer-left .swiper-buttons .swiper-button-prev{left: -13px;}
    .our-customer-left .swiper-buttons .swiper-button-next{right: -13px;}

    body.page-template-product-hardware .our-customer-wrap .hide-desktop{padding-right: 80px;}
    body.page-template-product-hardware .our-customer-wrap .hide-desktop h2{font-size: 34px; line-height: 40px;}
}

@media screen and (max-width: 374px) and (min-width: 200px) {
    .our-customer-wrap .hide-desktop h2{font-size: 40px; line-height: 50px;}
    .our-customer-text{padding: 0 20px;}
    .our-customer-text blockquote{font-size: 16px; line-height: 34px;}
}










