

.overview-main{padding: 0 0 143px; align-items: flex-start;}
.overview-head{max-width: 711px; padding-bottom: 137px; z-index: 2;}
.overview-image{max-width: 392px; max-height: 593px; z-index: 1;}
.overview-ellipse{width: 942px; height: 942px; opacity: 0.25; z-index: -1; background: var(--Green-Radial-Gradient);}
.overview-ellipse.left{left: -198px; top: -240px;}
.overview-ellipse.right{right: -247px; top: -243px;}
.overview-text h2{margin-bottom: 20px;}
.overview-text p{margin-bottom: 31px;}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .overview-head h2{font-size: 84px; line-height: 90px; letter-spacing: -0.84px;}
    .overview-list{flex: 0 0 calc(50%); padding-top: 169px;}
    .overview-list:nth-child(2n+1){padding-right: 127px;}
    .overview-list:nth-child(2n+2){padding-left: 127px; border-left: 1px solid var(--Line---Light);}
    .overview-list:nth-child(2n+1) .overview-image{top: -273px; left: -336px; max-width: 539px; max-height: 444px;}
    .overview-list:nth-child(2n+2) .overview-image{top: -262px; right: -245px;}
    .overview-text{max-width: 434px;}
    .overview-list:nth-child(2n+1) .overview-text{margin-left: auto;}
    [data-animate="overview-slide-left"]{transform: translateX(-100%);}
    .overview-slide-left{transform: translateX(0%);}
    [data-animate="overview-slide-right"]{transform: translateX(100%);}
    .overview-slide-right{transform: translateX(0%);}
}

@media only screen and (max-width: 1199px) and (min-width: 1024px){
    .overview-list:nth-child(2n+1){padding-right: 50px;}
    .overview-list:nth-child(2n+2){padding-left: 50px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .overview-head{padding-bottom: 90px;}
    .overview-main{gap: 60px; padding: 0 0 90px;}
    .overview-image{position: relative;}
    .overview-head h2{font-size: 54px; line-height: 64px;}
    .overview-list{display: flex; flex-wrap: wrap; gap: 50px; align-items: center; }
    .overview-image , .overview-text {flex: 1;}
    .overview-ellipse{width: 472px; height: 472px;}
    .overview-ellipse.left{left: -102px; top: -122px;}
    .overview-ellipse.right{right: -50px; top: -40px;}
    .overview-list:nth-child(2) .overview-slide-thumb img{max-width: 280px; margin: 0 auto; display: block;}
}

@media only screen and (max-width: 767px) and (min-width: 200px){
    .overview-head{padding-bottom: 67px; z-index: 2; position: relative;}
    .overview-head h2{font-size: 46px; letter-spacing: -0.46px; margin-bottom: 29px;}
    .overview-main{gap: 82px; padding: 0 0 100px;}
    .overview-image{position: relative; margin-bottom: 51px; left: -50px;}
    .overview-ellipse{height: 576px; width: 576px; border-radius: 576px;}
    .overview-ellipse.left{left: -160px; top: -160px;}
    .overview-slide-thumb{width: 290px;}
    .overview-list:nth-child(1){z-index: 2;}
    .overview-list:last-child .overview-image{position: relative; left: 10px;}
    .overview-list:last-child .overview-slide-thumb{width: 174px;}
    .overview-ellipse.right{right: 0; top: -175px;}
}












