

.overview-main{padding: 0 0 143px; align-items: flex-start;}
.overview-head{max-width: 711px; padding-bottom: 137px;}
.overview-image{max-width: 392px; max-height: 593px; z-index: -1;}
.overview-text h2{margin-bottom: 20px;}
.overview-text p{margin-bottom: 31px;}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .overview-head h2{font-size: 84px; line-height: 90px; letter-spacing: -0.84px;}
    .overview-list{flex: 0 0 calc(50%); padding-top: 169px;}
    .overview-list:nth-child(2n+1){padding-right: 127px;}
    .overview-list:nth-child(2n+2){padding-left: 127px; border-left: 1px solid var(--Line---Light);}
    .overview-list:nth-child(2n+1) .overview-image{top: -273px; left: -336px; max-width: 539px; max-height: 444px;}
    .overview-list:nth-child(2n+2) .overview-image{top: -262px; right: -245px;}
    .overview-text{max-width: 434px;}
    .overview-list:nth-child(2n+1) .overview-text{margin-left: auto;}
    [data-animate="overview-slide-left"]{transform: translateX(-100%);}
    .overview-slide-left{transform: translateX(0%);}
    [data-animate="overview-slide-right"]{transform: translateX(100%);}
    .overview-slide-right{transform: translateX(0%);}
}












