
.products-software-banner-ellipse{ top: -710px; right: -601px; width: 1486px; height: 1486px; border-radius: 1486px; opacity: 0.25; background: radial-gradient(50% 50% at 50% 50%, var(--Green) 0%, rgba(26, 209, 177, 0.00) 100%); z-index: -1;}
.products-software-banner-text h1{font-weight: 400; font-family: var(--heading-font); margin-bottom: 0;}
.products-software-banner-text p{margin-bottom: 18px;}
.products-software-banner-img .all-meterials-sm-icon{backdrop-filter: blur(67px); padding: 16px 23px 33px 27px; background: rgba(139, 82, 252, 0.10); width: 160px; position: absolute; top: 219px; left: -88px; color: var(--Black);}
.products-software-banner-img .all-meterials-sm-icon:nth-child(3){top: 413px; left: 103px; padding: 30px 26px 26px 27px;}

@media screen and (min-width: 1024px) {
    .products-software-banner-main{gap: 200px; padding: 121px 0 159px;}
    .products-software-banner-img{flex: 0 0 732px;}
    .products-software-banner-text{flex: 1;}
    .products-software-banner-text h1{font-size: 130px; line-height: 148px; letter-spacing: -1.3px;}
}