

ul.prod-meterials-links > li > a{gap: 20px 0; padding-top: 12px; color: var(--White);}
ul.prod-meterials-links > li > a:hover{color: var(--Green);}
.prod-meterials-rows{gap: 99px 0;padding: 115px 0 137px;}
.prod-meterials-row{gap: 120px 0;}
.prod-meterials-row:last-child span.stripe-line:last-child{display: none;}
.prod-meterials-head{max-width: 768px; padding-bottom: 39px; letter-spacing: -0.63px;}
.prod-meterials-head h2{margin-bottom: 0;}


.prod-meterials-list{gap: 119px;}
.prod-meterials-left{flex: 0 0 300px;}
.prod-meterials-left:nth-child(1):last-child{flex: 1;}

.prod-meterials-image{margin-bottom: 57px;}
ul.prod-meterials-typicals{gap: 18px 0; padding-top: 28px;}
ul.prod-meterials-typicals > li{gap: 15px 26px;}
ul.prod-meterials-typicals > li:last-child span.stripe-line{display: none;}

.prod-typicals-icon{width: 22px;}
.prod-typicals-text{flex: 1;}

.prod-meterials-center{flex: 1;}
.prod-meterials-text{padding-bottom: 79px;}
.prod-meterials-text h2{margin-bottom: 16px;}
.prod-meterials-highlights{padding-bottom: 34px;}
.prod-meterials-highlights span{margin-bottom: 20px; display: block;}



.prod-meterials-buy{padding-bottom: 35px;}
.prod-meterials-dwlds{gap: 29px 0;}


.prod-meterials-right{padding-left: 53px; border-left: 1px solid var(--White-15);}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    ul.prod-meterials-links{gap: 25px;}
    ul.prod-meterials-links > li{flex: 0 0 calc(25%  - 19px);}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    ul.prod-meterials-links{gap: 21px; flex-direction: column;}
    ul.prod-meterials-links > li > a{padding-top: 0; gap: 13px 0; font-size: 18px; font-weight: 500;}
}