



.res-content-main{padding: 119px 0 0;}

.full-width-image{padding: 98px 0 120px;}
.res-content-main ul{padding-top: 16px;}


.content-cta-wrap{padding: 105px 0 117px;}
.content-cta-main{min-height: 319px; padding: 77px 90px 83px; background-color: var(--White-7);}
.content-cta-image{top: -95px; right: -47px;}
.content-cta-ellipse{
    top: -111px;
    right: -105.5px;
    width: 695px;
    height: 695px;
    flex-shrink: 0;
    border-radius: 695px;
    opacity: 0.2;
    background: var(--Green-Radial-Gradient)
}
.content-cta-text{max-width: 450px;}
.content-cta-text h2{margin-bottom: 28px; letter-spacing: 0;}
.content-cta-text .flex{gap: 12px;}
.res-content-main h3{padding-bottom: 15px;}
.res-content-main h4{padding-bottom: 16px;}




.fluid-image-captions{gap: 25px; padding: 97px 0 120px;}
.fluid-image-caption{flex: 1; gap: 31px;}
.fluid-image-thumb{flex: 1;}
.fluid-image-icon{flex: 0 0 158px; max-width: 158px;}
.fluid-image-caption:nth-child(odd) .fluid-image-icon{margin-left: auto;}
.fluid-image-caption:nth-child(even){padding-top: 163px;}
.fluid-video video{width: 100%; height: 100%;}

.highlightbox-wrap{padding: 43px 0 59px;}
.highlightbox-main{gap: 45px; padding: 37px 51px 42px;}
.highlightbox-bg{opacity: 0.2; background-color: var(--Green);}
.highlightbox-icon{flex: 0 0 45px;}
.highlightbox-text{max-width: 529px; letter-spacing: -0.6px; flex: 1;}

.caption-link-main{gap: 10px; padding-bottom: 119px;}
.caption-link{justify-content: space-between;}


.res-content-line{padding-bottom: 119px;}


.res-content-main .accordion-main{padding: 40px 0 50px;}

.blockquote-ellipse{ top: 19px; left: -138px; width: 695px; height: 695px; flex-shrink: 0; border-radius: 695px; opacity: 0.15; background: var(--Green-Radial-Gradient); z-index: -1; }
blockquote p span.quote-line{padding-bottom: 7px; border-bottom: 1px solid var(--White-10);}

.quote-avatar-main{padding-top: 19px;}
.quote-avatar{gap: 20px; flex: 1;}
.quote-avatar-text span{color: var(--White);}
.quote-avatar-img{width: 56px; height: 56px;}
.quote-avatar-logo{width: 86px;}
.quote-avatar-logo img{object-fit: contain;}


.res-content-last-line{padding: 102px 0 70px;}

@media screen and (max-width: 1099px) and (min-width: 1024px) {
    .content-cta-main{padding: 77px 90px 83px 30px;}
    .res-content-main blockquote{padding: 60px;}
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
    .res-content-main{padding: 90px 0 0; }
    .res-content-main .fluid-container .full-width-image{padding: 68px 0 90px;}
    .content-cta-wrap{padding: 70px 0 77px;}
    .content-cta-main{padding: 60px 40px; min-height: auto;}
    .content-cta-image{right: -40px; top: -31px; width: 300px;}
    .fluid-image-captions{padding: 67px 0 90px;}
    .caption-link-main{padding-bottom: 90px;}
    .res-content-line{padding-bottom: 90px;}
    .res-content-main blockquote{margin: 40px 0 70px; padding: 60px 40px;}
    .content-cta-text{max-width: 350px;}
}
@media screen and (max-width: 767px) and (min-width: 200px) {
    .res-content-main{padding: 80px 0 60px;}
    .res-content-main h2{margin-bottom: 27px;}
    .res-content-main .fluid-container .container{padding: 0;}
    .res-content-main .fluid-container .full-width-image{padding: 60px 0 80px; width: calc(100% + 40px); margin-left: -20px;}
    .res-content-main .fluid-container .full-width-image img{border-radius: 0;}
    .content-cta-wrap{padding: 67px 0 80px;}
    .content-cta-main{padding: 227px 41px 27px;}
    .content-cta-text{max-width: 100%;}
    .content-cta-text .flex{justify-content: center;}
    .content-cta-text .flex .button{width: 100%;}
    .content-cta-image{right: 0; top: -27px; width: 265px; left: 67px;}
    .content-cta-ellipse{border-radius: 536px; height: 536px; right: -160px; top: -222px; width: 536px;}
    .res-content-main h3{padding-bottom: 5px;}
    .fluid-image-captions{padding: 58px 0 80px; gap: 18px; max-width: 374px; margin: 0 auto;}
    .fluid-image-caption{flex: 0 0 100%; gap: 20px; flex-direction: row; }
    .fluid-image-caption:first-child{align-items: end; }
    .fluid-image-caption:nth-child(2n){padding-top: 0; }
    .fluid-image-thumb{flex: 0 0 216px;}
    .fluid-image-thumb img{border-radius: 20px;}
    .fluid-image-icon{flex: 0 0 138px; max-width: 138px;}
    .half-circle-pos{height: 53px; width: 90px; }
    .half-circle-pos svg{height: 53px; width: 90px; }
    .half-circle-pos svg path{stroke-width: 15px;}
    .all-meterials-sm-icon{padding: 23px 19px; border-radius: 25px;} 
    .half-circle-count{font-size: 23px; letter-spacing: -0.69px;}
    .all-meterials-half-circle{height: 53px; transform: rotate(-167deg); width: 90px;}
    .all-meterials-half-circle svg{height: 53px; width: 90px;}
    .all-meterials-parts span:last-child{font-size: 14px; letter-spacing: -0.42px;}
    .all-meterials-sm-x{flex: 0 0 138px; padding: 15px 19px 26px 24px; border-radius: 25px;}
    .all-meterials-sm-x > span{font-size: 14px; letter-spacing: -0.42px;}
    .highlightbox-main{gap: 29px; padding: 34px 30px 38px 31px; align-items: flex-start;}
    .highlightbox-icon{flex: 0 0 48px; }
    .highlightbox-icon svg{width: 48px; height: 48px;}
    .highlightbox-text{letter-spacing: -.57px; max-width: 100%; font-size: 19px;}
    .caption-link-main{padding-bottom: 90px; }
    .caption-link{align-items: flex-end; }
    .caption-link span{font-size: 20px; line-height: 30px; letter-spacing: -0.6px; flex: 1; font-weight: 300;}
    .caption-link svg{flex: 0 0 10px; margin-bottom: 10px;}
    .res-content-line{padding-bottom: 80px;}
    .res-content-main .accordion-main{padding: 28px 0 60px;}
    .res-content-main .accordion-plus{top: 0;}
    .res-content-main blockquote{margin: 22px 0 90px; font-size: 18px; letter-spacing: -0.18px; line-height: 36px; padding: 30px 40px 41px; border-radius: 20px !important;}
    .res-content-main .blockquote-ellipse{border-radius: 524px; height: 524px; left: -131px; top: auto; width: 524px; bottom: -136px; }
    .quote-avatar-main{flex-direction: column-reverse; gap: 15px; padding-top: 12px;}
    .quote-avatar{gap: 10px; }
    .quote-avatar-img{height: 36px; width: 36px;}
    .quote-avatar-text{font-size: 15px;}
    .quote-avatar-logo{width: 68px; }
    .res-content-last-line{padding: 63px 0 0;}
    
}

@media screen and (max-width: 413px) and (min-width: 200px) {
    .fluid-image-thumb{flex: 0 0 175px; }
    .content-cta-main{padding: 227px 25px 27px; }
    .content-cta-text h2{font-size: 30px; line-height: 36px;}
}
@media screen and (max-width: 374px) and (min-width: 200px) {
    .fluid-image-caption{gap: 10px;}
    .fluid-image-thumb{flex: 0 0 150px;}
    .fluid-image-icon{flex: 0 0 120px; max-width: 120px;}
    .all-meterials-sm-icon{padding: 15px 15px;}
    .all-meterials-sm-x{padding: 15px;}
    .content-cta-text h2{font-size: 26px; line-height: 32px;}
    .res-content-main blockquote{padding: 20px 20px 31px;}
}
 