




.resources-banner-text h1{margin-bottom: 24px;}
.resources-banner-text p{margin-bottom: 34px;}



/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .resources-banner-main{padding: 252px 0 162px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .resources-banner-main{padding: 156px 0 112px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .resources-banner-main{padding: 156px 0 66px;}
}