


.result-box-main{padding: 99px 117px 119px; backdrop-filter: blur(30px);}
.result-box-ellipse{
    left: -404px;
    top: -404px;
    width: 1066px;
    height: 1066px;
    flex-shrink: 0;
    border-radius: 1066px;
    opacity: 0.15;
    background: var( --Green-Radial-Gradient);
    z-index: -1;
}
.result-box-head{gap: 64px; padding-bottom: 74px;}
.result-box-title{flex: 0 0 394px;}
.result-box-desc{flex: 1;}


.result-box-icon{padding-bottom: 40px;}
.result-box-text span{padding-bottom: 13px;}


@media screen and (max-width: 767px) and (min-width: 200px) {
    .result-box-section{overflow: hidden;}
    .result-box-section .container{padding: 0;}
    .result-box-main{padding: 90px 20px; border-radius: 0;}
    .result-box-ellipse{height: 855px;}
    .result-box-head{gap: 19px; padding-bottom: 30px;}
    .result-box-row{gap: 40px;}
    .result-box-list{flex: 0 0 100%; display: flex; flex-wrap: wrap; gap: 30px;} 
    .result-box-icon{flex: 0 0 50px; padding-bottom: 0;}
    .result-box-icon svg{width: 50px; height: 50px;}
    .result-box-text{font-size: 18px; letter-spacing: -0.54px; line-height: 28px; color: var(--White-60); padding-top: 12px; flex: 1;}
    .result-box-text span{padding-bottom: 5px; color: var(--White); }
}



/*-- media css starts here --*/
@media only screen and (min-width: 1300px){
    .result-box-row{gap: 77px;}
    .result-box-list{flex: 0 0 calc(33.333333333% - 77px);}
}




@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .result-box-main{padding: 60px;}
    .result-box-row{gap: 50px;}
    .result-box-list{flex: 0 0 calc(33.333333333% - 34px);}

}

@media only screen and (max-width: 1023px) and (min-width: 768px){
    .result-box-main{padding: 60px 40px;}
    .result-box-head{gap: 30px; padding-bottom: 60px; }
    .result-box-title{flex: 0 0 100%; }
    .result-box-row{gap: 15px; }
    .result-box-list{flex: 0 0 calc(33.333% - 10px); }
    .result-box-icon{padding-bottom: 15px; }
}
