

.solutions-banner-video video{width: 100%; height: 100%;}
.solutions-banner-bg img{opacity: 0.4;}
.solutions-banner-overlay{background: linear-gradient(0deg,var(--Black) 0,hsla(0,0%,45%,0) 33.7%);}
.solutions-banner-btns{padding-top: 17px;}
.solutions-banner-illustration img{object-fit: contain;}
.solutions-banner-ellipse{opacity: 0.25; background: radial-gradient(50% 50% at 50% 50%, var(--Green) 0%, rgba(26, 209, 177, 0.00) 100%);  z-index: -1;}


/*-- media css starts here --*/
@media only screen and (min-width: 1440px){
    .solutions-banner-illustration{width: 762px; height: 956px;}
}
@media only screen and (min-width: 1024px){
    .solutions-banner-main{padding: 318px 0 117px; max-width: 860px;}
    .solutions-banner-text h1{letter-spacing: -1.22px;}
    .solutions-banner-illustration{top: -41px; right: 42px;}   
}
@media screen and (min-width: 768px) {
    .solutions-banner-ellipse{width: 1401px; height: 1375px; top: -542px; right: -418px;}
    .solutions-banner-text h1{padding-top: 20px; margin-bottom: 32px;}
    .solutions-banner-text h1 br{display: none;}
}
@media screen and (max-width: 1499px) and (min-width: 1400px){
    .solutions-banner-illustration{right: -80px; width: 700px; height: 787px;}
    
}
@media screen and (max-width: 1399px) and (min-width: 1300px){
    .solutions-banner-illustration{right: 0px; width: 700px; height: 787px;}
    .solutions-banner-main{max-width: 750px;}
}
@media screen and (max-width: 1299px) and (min-width: 1024px){
    .solutions-banner-illustration{width: 562px; height: 756px; top: -31px; right: -150px;}
    .solutions-banner-main{max-width: 740px; padding: 218px 0 87px;}
    .products-slider-for button.slick-arrow.slick-next{right: -52px;}
    .products-slider-for button.slick-arrow.slick-prev{left: -52px;}
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    .solutions-banner-main{padding: 79.2px 0 58px;}
    .solutions-banner-text h1{font-size: 70px; line-height: 82px;}
    .solutions-banner-illustration{position: relative; margin-left: auto; width: 462px; height: 550px; margin-top: 50px; right: 42px;}
}
@media screen and (max-width: 767px) and (min-width: 200px) {
    .solutions-banner-illustration{position: relative; margin-left: auto; width: 280px; height: 407px; margin-top: 40px; right: 15px;}
    .solutions-banner-ellipse{width: 788px; height: 773px; top: -297px; right: -180px;}
    .have_illustration .solutions-banner-main{padding: 0;}
    .solutions-banner-main{padding: 143px 0 107px;}
    .solutions-banner-text h1{margin-bottom: 20px;}
    .solutions-banner-text p{margin-bottom: 18px;}
    .solutions-banner-bg img{opacity: 0.3;}
    .solutions-banner-overlay{opacity: 0;}
    .solutions-banner-btns{padding-top: 2px;}
}