

.trusted-by-main{padding: 62px 0 52px;}
.trusted-by-head{padding-bottom: 33px;}

.trusted-by-logos.splide{visibility: visible;}
.trusted-by-logos .splide__list{align-items: center; gap: 50px; height: auto;}
.trusted-by-logos .splide__slide{width: 180px; height: auto; flex-shrink: 0;}
.trusted-by-logo img{object-fit: contain; max-width: 180px; width: 100%; height: auto; margin: 0 auto;}


.trusted-by-gradient.left{ top: 0; left: 0; right: auto; width: 15%; height: 100%; background-image: linear-gradient(to left, transparent 10%, var(--Black)  105%); content: ""; position: absolute; }
.trusted-by-gradient.right { top: 0; left: auto; right: 0px; width: 15%; height: 100%; background-image: linear-gradient(to right, transparent 10%, var(--Black)  105%); content: ""; position: absolute; }
.trusted-by-logos .splide__track{ will-change: transform; transform: translateZ(0); backface-visibility: hidden; }

/*-- media css starts here --*/
@media screen and (max-width:767px) and (min-width: 200px){
    .trusted-by-logos .splide__slide{width: fit-content;}
    .trusted-by-logo img{max-width: 132px;}
}