




.unlock-3d-wrap{padding: 180px 0 127px;}
.unlock-3d-main{gap: 51px; padding: 125px 0 123px;}
.unlock-3d-image{flex: 0 0 524px; transform: translateX(-41px);}
.unlock-3d-text{flex: 1; max-width: 550px;}
.unlock-3d-text span.optional-text{margin-bottom: 27px; }
.unlock-3d-text h2{margin-bottom: 29px;}
.unlock-3d-text p{margin-bottom: 28px;}
.unlock-3d-ellipse{ top: -280px; left: -169px; width: 1066px; height: 1066px; border-radius: 1066px; opacity: 0.2; background: radial-gradient(50% 50% at 50% 50%, var(--Green) 0%, rgba(26, 209, 177, 0.00) 100%); z-index: -1;}


<<<<<<< HEAD



@media screen and (max-width: 1023px) and (min-width:768px) {
    .unlock-3d-wrap{padding: 90px 0;}
    .unlock-3d-main{padding: 60px 20px;}
    .unlock-3d-image{flex: 0 0 100%; transform: none; position: relative;}
=======
/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
<<<<<<< HEAD
    body.home .unlock-3d-wrap{padding: 124px 0 38px;}
=======
    body.home .unlock-3d-wrap{padding-bottom: 38px;}
>>>>>>> c1ac9903265838f82527fd3bbc79e64cd30569c9
>>>>>>> 321d315ff847258c787189dfa6ff094d9ef2b435
}
@media screen and (max-width: 767px) and (min-width:200px) {
    .unlock-3d-section .container{padding: 0;}
    .unlock-3d-wrap{padding: 131px 0 90px;}
    .unlock-3d-ellipse{ height: 759px; width: 759px;}
    .unlock-3d-main{gap: 25px; padding: 0 20px 90px;}
    .unlock-3d-bg{border-radius: 0;}
    .unlock-3d-image{flex: 0 0 100%; transform: translateY(-35px);}
    .unlock-3d-image img{border-radius: 20px;}
    .unlock-3d-text span.optional-text{font-size: 12px; letter-spacing: 3px;}
}


