




.unlock-3d-wrap{padding: 180px 0 127px;}
.unlock-3d-main{gap: 51px; padding: 125px 0 123px;}
.unlock-3d-image{flex: 0 0 524px; transform: translateX(-41px);}
.unlock-3d-text{flex: 1; max-width: 550px;}
.unlock-3d-text span.optional-text{margin-bottom: 27px; }
.unlock-3d-text h2{margin-bottom: 29px;}
.unlock-3d-text p{margin-bottom: 28px;}
.unlock-3d-ellipse{ top: -280px; left: -169px; width: 1066px; height: 1066px; border-radius: 1066px; opacity: 0.2; background: radial-gradient(50% 50% at 50% 50%, var(--Green) 0%, rgba(26, 209, 177, 0.00) 100%); z-index: -1;}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    body.home .unlock-3d-wrap{padding-bottom: 38px;}
}


