
.unlock-cta-section.no_prod_meterial{padding-top: 0;}
.unlock-cta-section{padding-top: 140px;}
body.page-template-product-software .unlock-cta-section{padding-top: 0px;}
.unlock-cta-main h2{margin-bottom: 5px;}
.unlock-cta-text{max-width: 713px; flex: 1; font-size: 16.5px; font-weight: 400; line-height: 26px; letter-spacing: -0.495px; }
.unlock-cta-text:nth-child(1):last-child{max-width: 100%;}
.unlock-cta-btn:nth-child(1):last-child{flex: 0 0 100%; padding: 0 0 24px; text-align: center;}
.unlock-cta-btn:nth-child(1):last-child .button{margin: auto;}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    body.page-template-support .unlock-cta-text{max-width: 740px;}
    .unlock-cta-main{padding: 47px 60px 50px; gap: 32px;}
    .unlock-cta-btn{margin-left: auto;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .unlock-cta-section{padding-top: 80px;}
    .unlock-cta-main{padding: 39px 40px 44px; gap: 32px;}
    .unlock-cta-btn{width: fit-content;}

}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .unlock-cta-section{padding-top: 90px;}
    body.page-template-resource-default .unlock-cta-section{padding-top: 38px;}
    body.home .unlock-cta-section, body.page-template-default .unlock-cta-section{padding-top: 40px;}
    .unlock-cta-main{padding: 39px 40px 40px; gap: 25px; align-items: flex-start; flex-direction: column;}
    .unlock-cta-main h2{margin-bottom: 15px;}
    .unlock-cta-text{font-size: 15.5px; line-height: 24px; letter-spacing: -0.465px;}
    .unlock-cta-btn{margin-left: 0;}
}

@media only screen and (max-width: 374px) and (min-width: 200px){
    .unlock-cta-main {padding: 30px 25px 30px;}
}