




.use-intro-text h2{padding: 34px 0 15px;}
.use-intro-text:nth-child(1):last-child{flex: 0 0 100%; padding: 0;}
.use-intro-text:nth-child(1):last-child br{display: none;}
.use-intro-image:nth-child(1):last-child{flex: 0 0 100%;}


/*-- media css starts here --*/
@media only screen and (min-width: 1440px){
    .use-intro-main{gap: 0 77px;}
    .use-intro-image{width: 677px;}
    .use-intro-text{width: 487px; padding-top: 270px;}
}
@media only screen and (min-width: 1024px){
    .use-intro-wrap{padding: 140px 0 113px;}
}
@media screen and (max-width: 1439px) and (min-width: 1024px){
    .use-intro-main{gap: 40px;}
    .use-intro-image{flex: 0 0 477px;}
    .use-intro-text{flex: 1; max-width: 487px; padding-top: 170px;}
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    .use-intro-wrap{padding: 140px 0 113px;}
    .use-intro-main{gap: 80px 0; flex-direction: column;}
}
@media screen and (max-width: 767px) and (min-width: 200px){
    .use-intro-wrap{padding: 89px 0 74px;}
    .use-intro-main{gap: 50px; flex-direction: column;}
    .use-intro-text h2{font-size: 44px; letter-spacing: -.32px; line-height: 54px;}
    .use-intro-text{}
}
