

.accordion-main{gap: 42px 0;}
.accordion-header{gap: 21px; padding-left: 63px; font-size: 24px; line-height: 32px; letter-spacing: -0.72px; cursor: pointer; position: relative; z-index: 1;}  
.accordion-plus{ width: 42px; height: 42px; top: -6px; left: 0; }
.accordion-plus-circle{opacity: 0.15;}

.accordion-line.is-second { transition: transform .4s; position: absolute; transform: rotate(90deg); }
.accordion-line { background-color: var(--Green); flex: none; width: 16px; height: 2px; }


.accordion-content{max-height: 0; transition: max-height 0.9s; overflow: hidden; } 
.accordion-desc {padding: 32px 4px 12px 64px;}
.accordion-head { justify-content: space-between; gap: 20px; } 
.accordion-head-lt h3 { margin-bottom: 0; font-size: 2.5rem; }

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    .accordion-header{padding-left: 53px; font-size: 20px; line-height: 32px; letter-spacing: -0.6px;}

}
@media screen and (max-width: 767px) and (min-width: 200px){
    .accordion-main{gap: 25px;}
    .accordion-header{padding-left: 53px; font-size: 20px; line-height: 32px; letter-spacing: -0.6px;}
    .accordion-plus{width: 34px; height: 34px;}
    .accordion-desc { padding: 18px 22px 14px 52px; font-size: 15.5px; line-height: 24px; letter-spacing: -0.465px;} 
}
